@charset "UTF-8";
/* CSS Document */



#header-section
{
width: 100%;
height: 250px;
background-color: #C91417;
}

#body-section1
{
width: 70%;
height: 350px;
margin: 0 auto;
background-color: #32D030;
}

#body-section2
{
width: 70%;
height: 350px;
margin: 0 auto;
background-color: #D0C616;
}


#footer
{
width: 100%;
height: 250px;
background-color: #C91417;
}
